# Copy this file to .env.local and replace the database URL locally.
APP_ADDR=:9090
DATABASE_URL='postgresql://postgres.escntlunkvcoiylczijh:LamTest2026Db@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres'
ALLOWED_ORIGIN=http://localhost:3000
ADMIN_API_TOKEN=lam-admin-api-token
